<!-- test -->
<section class="intro-header">
	<div class="jumbotron">
	  <h1 class="text-center">Hello, world!</h1>
	  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eum molestiae architecto dolorem totam dolore.</p>
	  <section class="row">
	  	<section class="col-md-6 col-md-offset-3">
            <%= form_tag services_path, :method => 'get', class: "input-group input-group-lg" do %>
              <%= text_field_tag "input_search", nil, class: 'form-control' %>
              <span class="input-group-btn ">
                <%= submit_tag "Buscar", class: "btn btn-primary" %>
              </span>
            <% end %>
	  	</section>
	  </section>
	</div>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="row">
          <% @services.each do |service| %>
              <div class="col-sm-3 col-lg-3 col-md-3">
                  <div class="thumbnail">
                      <%= image_tag service.try(:photo), class: 'img-search' %>
                      <div class="caption">
                          <h4><%= link_to truncate(service.title, length: 19), service_path(service) %></h4>
                          <p><%= truncate(service.description, length: 150) %></p>

                      </div>
                      <div class="ratings">
                          <p class="pull-right"><%= service.visit_count%> visitas</p>
                          <span><%= service.comments.count(:vote)%> veces calificado</span>                          
                      </div>
                  </div>
              </div>
          <% end %>
        </div>
    </div>
</div>

<script>
    var tags = <%= Service.order(:title).published.map(&:title).to_json.html_safe %>

    $( "#input_search" ).autocomplete({
      source: tags
    });

    $('#stars').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
</script>