<%= form_for(@service, html: {:multipart => true}) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, 'Titulo'%><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, 'Dirección' %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Correo electronico' %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, 'Celular'%><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, 'Telefono' %><br>
    <%= f.text_field :telephone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :website, 'Sitio web' %><br>
    <%= f.text_field :website, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :monday, 'Días de atención' %><br>

    <%= f.check_box :monday %>
    <%= f.label :monday, 'Lunes' %><br>

    <%= f.check_box :tuesday %>
    <%= f.label :tuesday, 'Martes' %><br>

    <%= f.check_box :wednesday %>
    <%= f.label :wednesday, 'Miercoles' %><br>

    <%= f.check_box :thursday %>
    <%= f.label :thursday, 'Jueves' %><br>

    <%= f.check_box :friday %>
    <%= f.label :friday, 'Viernes' %><br>

    <%= f.check_box :saturday %>
    <%= f.label :saturday, 'Sabado' %><br>

    <%= f.check_box :sunday %>
    <%= f.label :sunday, 'Domingo' %><br>
  </div>

  <div class="form-group">
    <%= f.label :morning_start, "Horario de mañana" %><br>
    <span>Desde: </span><%= f.time_select :morning_start, {:default => {:hour => '09', :minute => '30'}} %>
    <span>Hasta: </span><%= f.time_select :morning_end, {:default => {:hour => '12', :minute => '00'}} %>
  </div>
  
  <div class="form-group">
  <%= f.label :afternoon_start, "Horario de tarde" %><br>
    <span>Desde: </span><%= f.time_select :afternoon_start, {:default => {:hour => '13', :minute => '30'}} %>
    <span>Hasta: </span><%= f.time_select :afternoon_end, {:default => {:hour => '19', :minute => '30'}} %>
  </div>

  <div class="form-group">
    <%= f.label :photo, class: 'label-file btn btn-success' do %>
      <span class="glyphicon glyphicon-camera"></span> Sube una foto de tu servicio
    <%end%>
    <br>
    <%= f.file_field :photo, class: 'input-file'%>
  </div>
  <div class="form-group">
    <h3>Pon tu servicios en una o varios categorias</h3>
    <% @category.each do |category| %>
      <li>
        <%= f.check_box 'category_ids', {multiple: true}, category.id, [] %>
        <span><%=category.name%></span>
      </li>
    <%end%>
  </div>
  <div class="form-group">
    <%= f.submit 'Subir servicio', class: 'btn btn-primary' %>
  </div>
<% end %>


  






