<%= form_for(@service, html: {:multipart => true}) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title%><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :photo, class: 'label-file btn btn-success' do %>
      <span class="glyphicon glyphicon-camera"></span> Sube una foto de tu servicio
    <%end%>
    <br>
    <%= f.file_field :photo, class: 'input-file'%>
  </div>
  <div class="form-group">
    <h3>Pon tu servicios en una o varios categorias</h3>
    <% @category.each do |category| %>
      <li>
        <%= f.check_box 'category_ids', {multiple: true}, category.id, [] %>
        <span><%=category.name%></span>
      </li>
    <%end%>
  </div>
  <div class="form-group">
    <%= f.submit 'Subir servicio', class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
    $(".input-file").change(function(e){
      var file_name = e.target.value

      $(".label-file").text(file_name)
    }) 
</script>       




