
<div class="row">

    <div class="col-md-3">
        <%= render 'categories/sidebar' %>
    </div>

    <div class="col-md-9">

        <div class="thumbnail">
            <%= image_tag @service.photo %>
            <div class="caption-full">
                <h4><%= @service.title%></h4>
                <p><span class="glyphicon glyphicon-earphone"></span> <%= @service.phone.present? ? "(+56) #{@service.phone}" : "No específica" %></p>
                <p><span class="glyphicon glyphicon-phone-alt"></span> <%=@service.telephone.present? ? @service.telephone : "No específica" %></p>
                <p><span class="glyphicon glyphicon-home"></span> <%= @service.address.present? ? @service.address : "No específica"%></p>
                <p><span class="glyphicon glyphicon-envelope"></span> <%=@service.email.present? ? @service.email : "No específica"%></p>
                <p><span class="glyphicon glyphicon-picture"></span> <%=@service.website.present? ? @service.website : "No específica"%></p>
                <p><span class="glyphicon glyphicon-calendar"></span> Dias de atención: <%=@service.monday ? "Lunes" : "" %>
                                                                                        <%=@service.tuesday ? "Martes" : "" %>
                                                                                        <%=@service.wednesday ? "Miercoles" : "" %>
                                                                                        <%=@service.thursday ? "Jueves" : "" %>
                                                                                        <%=@service.friday ? "Viernes" : "" %>
                                                                                        <%=@service.saturday ? "Sabado" : "" %>
                                                                                        <%=@service.sunday ? "Domingo" : "" %>
                                                                                        </p>
                <p><%= @service.description %></p>
            </div>
            <div class="ratings">
                <p class="pull-right"><%= @service.visit_count %> visitas</p>
                <p>
                  <span id="average"></span>
                  <span><%= @service.comments.count(:vote)%> veces calificado</span>
                </p>
            </div>
        </div>

        <div class="well">

            <div class="text-right">
                <%= form_for([@service,@comment]) do |f| %>
                  <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                      <ul>
                      <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.text_area :body, class: 'form-control'%>
                  </div>
                  <div class="field btn-group">
                    <span id="voting" class="btn btn-success btn-start"></span>
                    <%= f.submit 'Comentar', class: 'btn btn-success btn-margin' %>
                  </div>
                  <div class="actions">
                    
                  </div>
                <% end %>
            </div>
            
            <% @service.comments.order(created_at: :desc).each do |comment| %>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <%=comment.user.email%>
                        <span class="star-vote" id="star-<%= comment.id %>" data-score= <%= comment.vote %> ></span>
                        <span class="pull-right"><%= time_ago_in_words(comment.created_at) %></span>
                        <p><%= comment.body %></p>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>

<script>

  $('#average').raty({
    path: '/assets/',
    readOnly: true,
    half:  true,
    start: <%= @service.average %>
  });

  var star;
  $.each($('.star-vote'), function( index, value ) {
    star = $(value);
    star.raty({
      path: '/assets/',
      readOnly: true,
      start: star.data("score")
    })
  });

  $('#voting').raty({
    path: '/assets/',
    scoreName: 'comment[vote]'
  });

 
</script>
