
<div class="row">

    <div class="col-md-3">
        <p class="lead">Shop Name</p>
        <div class="list-group">
            <a href="#" class="list-group-item active">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="thumbnail">
            <!-- <img class="img-responsive" src="http://placehold.it/800x300" alt=""> -->
            <%= image_tag @service.photo %>
            <div class="caption-full">
                <h4 class="pull-right">$<%=@service.price%></h4>
                <h4><%= @service.title%></h4>
                <p><span class="glyphicon glyphicon-home"></span> <%=@service.address%></p>
                <p><span class="glyphicon glyphicon-envelope"></span> <%=@service.email%></p>
                <p><span class="glyphicon glyphicon-earphone"></span> <%=@service.phone%></p>
                <p><%= @service.description %></p>
            </div>
            <div class="ratings">
                <p class="pull-right"><%= @service.visit_count %> visitas</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0 stars
                </p>
            </div>
        </div>

        <div class="well">

            <div class="text-right">
                <%= form_for([@service,@comment]) do |f| %>
                  <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                      <ul>
                      <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.text_area :body, class: 'form-control'%>
                  </div>
                  <div class="actions">
                    <%= f.submit 'Comentar', class: 'btn btn-success btn-margin' %>
                  </div>
                <% end %>
            </div>
            
            <% @service.comments.each do |comment| %>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <%=comment.user.email%>
                        <span class="pull-right">10 days ago</span>
                        <p><%= comment.body %></p>
                    </div>
                </div>
            <%end%>

        </div>
    </div>
</div>
