<!DOCTYPE html>
<html>
<head>
  <title>ServiciosEnUnClick</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<section class="container container-margin-top">
<div id="notice_wrapper">
  <% if notice %>
     <p class="notice"><%= notice %></p>
  <% elsif alert %>  
     <p class="alert"><%= alert %></p>
  <% end %>   
</div>
<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
	<%= yield %>
</section>
<script>
  //Aparición y desaparición de los mensajes flash
  $("#notice_wrapper").fadeIn("slow").delay(1000).fadeOut("slow");

  var tags = <%= Service.order(:title).published.map(&:title).to_json.html_safe %>

  $( "#input_search_xs" ).autocomplete({
    source: tags
  });
</script>
</body>
</html>
